*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "logo name"
    "logo duty"
    "stack about"
    "stack job";
    grid-template-columns: 1fr 1fr;
}